body {
    background-color: #E7E9EC;
}

h1 {
    font-family: Roboto;
    text-align: center;
    font-size: 60px;
}

p {
    font-family: "Roboto Slab";
    text-align: center;
}

footer {
    font-family: Roboto;
    text-align: center;
    font-size: 15px;
}